<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedizCoin Miner</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>MedizCoin Miner</h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
    <div class="content">
        <img id="logo" src="your-logo.png" alt="Logo">
        <div class="product-container">
            <label for="mine-count">Coins Mined:</label>
            <input type="number" id="mine-count" value="0" disabled>
            <div id="price-display">
                Total Price: <span id="total-price">0</span>
            </div>
        </div>
        <p id="mined-amount">Total Mined: 0</p>
        <button id="startButton">Start Mining</button>
        <button id="upgradeButton">Upgrade Mining (100 MedizCoin)</button>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
